<Config>
   <PerkDefinitions>
      <RelativePath>Definitions/PerkDefinitions.xml</RelativePath>
      <RelativePath>Definitions/PerkDefinitions_DLC1.xml</RelativePath>
      <RelativePath>Definitions/PerkDefinitions_DLC2.xml</RelativePath>
      <RelativePath>Definitions/PerkDefinitions_DLC3.xml</RelativePath>
   </PerkDefinitions>
   
   <UnitPerkCollectionDefinitions>
      <RelativePath>Definitions/UnitPerkCollectionDefinitions.xml</RelativePath>
   </UnitPerkCollectionDefinitions>
      
   <PerkIconsFolderRelativePath>Icons</PerkIconsFolderRelativePath>
</Config>
