<Config>
   <PerkDefinitions>
      <RelativePath>Definitions/PerkDefinitions.xml</RelativePath>
   </PerkDefinitions>
   
   <UnitPerkCollectionDefinitions>
      <RelativePath>Definitions/PerkCollections.xml</RelativePath>
   </UnitPerkCollectionDefinitions>
   
   <UnitPerkCollectionSetDefinitions>
      <RelativePath>Definitions/PerkCollectionSets.xml</RelativePath>
      <RelativePath>Definitions/PerkCollectionSets2.xml</RelativePath>
   </UnitPerkCollectionSetDefinitions>
   
   <PerkIconsFolderRelativePath>Icons</PerkIconsFolderRelativePath>
</Config>
